<!DOCTYPE html>
<html>
  <head>
    <title>Squared</title>
    <meta name="description" content="A gomix app to square things">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Squared
      </h1>
    </header>

    <main>
      <form ref="uploadForm" id="uploadForm"  action="/upload" method="post" enctype="multipart/form-data">
        <div>
          <span>
            Image
          </span>
          
          <input id="image" name="image" type="file" />
        </div>
        
        <div id="image-size" class="hidden">
            
        </div>
        
        <div id="color-choser">  
          <span>
            Couleur de fond
          </span>
          
          <label for="white" class="color">
            <input type="radio" name="color" value="white" id="white" checked>
            <span>Blanc</span>          
          </label>

          <label for="black" class="color">
            <input type="radio" name="color" value="black" id="black">
            <span>Noir</span>
          </label>
        </div>
        
        <div id="flipper">
          <label for="flip" >
            <input type="checkbox" name="flip" id="flip" />
            <span>Inverser image</span>
          </label>
        </div>
        
        <div id="resizer" >
          <label for="newsize">
            <input type="number" name="newsize" id="newsize" placeholder="Nouvelle taille" />
          </label>
        </div>
  
        <div class="submit">
          <button type="submit">Submit</button>  
        </div>
        
      </form>
      
    </main>

    <footer>
      <div>
        Built with 
        <a href="https://github.com/expressjs/express">express</a>, 
        <a href="https://github.com/richardgirges/express-fileupload">express-fileupload</a>,
        <a href="https://github.com/EyalAr/lwip">lwip</a> & 
        <a href="https://github.com/sindresorhus/image-type">image-type</a>
      </div>
      
      <div>
        <a href="https://gomix.com">
          Remix this in Gomix
        </a>
      </div>
      
      <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    </footer>
  </body>
</html>
