<!DOCTYPE html>
<html>
  <head>
    <title>Squared</title>
    <meta name="description" content="A gomix app to square things">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Squared
      </h1>
    </header>

    <main>
      <form ref="uploadForm" id="uploadForm"  action="/upload" method="post" enctype="multipart/form-data">
        <div>
          <span>
            Image
          </span>
          
          <input id="image" name="image" type="file" />
        </div>
        
        <div id="image-size" class="hidden">
            
        </div>
        
        <div class="color-choser block">  
          <h3>
            Couleur de fond
          </h3>
          
          <label for="white" class="color">
            <input type="radio" name="color" value="white" id="white" checked>
            <span>⚪️ Blanc</span>          
          </label>

          <label for="black" class="color">
            <input type="radio" name="color" value="black" id="black">
            <span>⚫️ Noir</span>
          </label>
        </div>
        
        <div class="block">
          <h3>
            Image
          </h3>
          
          <div id="flipper">
            <label for="flip" >
              <input type="checkbox" name="flip" id="flip" />
              <span>↔️ Inverser</span>
            </label>
          </div>

          <div id="resizer" >
            <label for="newsize">
              <input type="number" name="newsize" id="newsize" placeholder="Redimensionner ?" min="1" />
            </label>
          </div>  
        </div>
        
        <div id="tfy" class="block">
          <h3>
            Ajouter "Motif Teaforyoubijoux" ?
          </h3>
          
          <div class="color-choser">  
            <label for="no-text" class="color">
              <input type="radio" name="textcolor" id="no-text" value="no" checked>
              <span class="">🚫 Ne pas ajouter</span>
            </label>

            <label for="text-white" class="color">
              <input type="radio" name="textcolor" id="text-white" value="white">
              <span>⚪️ Blanc</span>
            </label>

            <label for="text-black" class="color">
              <input type="radio" name="textcolor" id="text-black" value="black">
              <span>⚫️ Noir</span>
            </label>
          </div>
          
          <div>
            <h4>
              Position
            </h4>

            <div class="color-choser">  
              <div>
                <label for="up-left" class="color">
                  <input type="radio" name="position" id="up-left" value="up-left" checked>
                  <span>↖️</span>
                </label>

                <label for="up-center" class="color">
                  <input type="radio" name="position" id="up-center"  value="up-center">
                  <span>⬆️</span>
                </label>

                <label for="up-right" class="color">
                  <input type="radio" name="position" id="up-right" value="up-right">
                  <span>↗️</span>
                </label>
              </div>

              <div>
                <label for="down-left" class="color">
                  <input type="radio" name="position" id="down-left" value="down-left">
                  <span>↙️</span>
                </label>

                <label for="down-center" class="color">
                  <input type="radio" name="position" id="down-center"  value="down-center">
                  <span>⬇️</span>
                </label>

                <label for="down-right" class="color">
                  <input type="radio" name="position" id="down-right" value="down-right">
                  <span>↘️</span>
                </label>
              </div>

            </div>
          </div>
          
          <div>
            <h4>
              Taille police
            </h4>
            <div>
              <input type="number" name="fontsize" id="fontsize" value="30" min="1" />  
            </div>
            
          </div>
        </div>
        
        <div class="submit">
          <button type="submit">Submit</button>  
        </div>
        
      </form>
      
    </main>

    <footer>
      <div>
        Built with 
        <a href="https://github.com/expressjs/express">express</a>, 
        <a href="https://github.com/richardgirges/express-fileupload">express-fileupload</a>,
        <a href="https://github.com/EyalAr/lwip">lwip</a>,
        <a href="https://github.com/sindresorhus/image-type">image-type</a> &
        <a href="https://github.com/tkrkt/text2png">text2png</a>
      </div>
      
      <div>
        <a href="https://gomix.com">
          Remix this in Gomix
        </a>
      </div>
      
      <script src="https://code.jquery.com/jquery-2.2.1.min.js"
              integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
              crossorigin="anonymous"></script>
      <script src="/client.js"></script>
      
    </footer>
  </body>
</html>
