/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  padding: 25px;

}

main {
  background-color: #7DB6E5;
  padding-left: 10px;
  margin-bottom: 25px;
  padding: 25px;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

h1 {
  font-weight: bold;
  color: pink;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
  float: left;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}

#color-choser {
  clear: both;
  margin-top: 20px;
}

#color-choser > span {
  margin-right: 15px;
}

#color-choser .color {
  display: inline-block;
}

#color-choser .color span {
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  display: block;
}

#color-choser .color input[type="radio"] {
  display: none;
}

#color-choser .color input[type="radio"] + span {
  background-color: #FFFFFFF;
}

#color-choser .color input[type="radio"]:checked + span {
  background-color: #1860AB;
  color: white;
}

#flipper input[type="checkbox"] {
  display: none;
}


#flipper input[type="checkbox"] + span {
  display: inline-block;
  padding: 5px;
  margin: 15px 0px 5px 0px;
  border: 2px solid black;
}

#flipper input[type="checkbox"]:checked + span {
  border-color: green;
  color: green;
  transform: rotateY(-180deg);
}

.submit {
  float: right;
}

#resizer {
  margin-top: 10px;
}

.hidden {
  display: none;
}